<table>
  <tr>
    <th> Name </th>
    <th> Bio </th>
    <th> Image </th>
    <th> Current Employee </th>
  </tr>
  <%= render 'staff_member_compact', collection: @staff_members, as: :staff_member %>

</table>

