<body style="background-image: linear-gradient(-12deg, #F9EC31 0%, #F6EA34 27%, #EDE23D 46%, #DED54C 62%, #C8C261 76%, #ADAB7D 90%, #929497 100%);height:100%;margin:0;background-repeat:no-repeat;background-attachment:fixed;color: #495e68;">
  <div id="about-text" class="container-fluid text-center">
    <h1 style="font-size: 3.2em; color: #FFFFFF;"> ABOUT US</h1>
  </div>
  <div class ="container-fluid">
    <div style="padding-bottom: 3%;" class ="container">
      <div class="col-md-2 about-image">
        <%= image_tag 'personal' %>
      </div>
      <div class="col-md-offset-2 col-md-8">
        <h4 style="font-size: 1.8em;"> PERSONAL </h4>
        <p style="font-size: 1.3em;">We know that no two kids learn in the same exact way, that’s why our teachers take the time to treat each student as an individual. To that end, we offer a variety of courses so that children and parents can choose what works best for them ensuring everyone's success. </p>
      </div>
    </div>
    <div style="padding-bottom: 3%;" class ="container">
      <div class="col-md-2 about-image">
        <%= image_tag 'forward_think' %>
      </div>
      <div class="col-md-offset-2 col-md-8">
        <h4 style="font-size: 1.8em;"> FORWARD-THINKING </h4>
        <p style="font-size: 1.3em;">Technology is at the core of our changing world. Our teachers incorporate the latest advancements into their lessons, ensuring that students are proficient with all the latest developments and ready for any challenge. We believe that education is at the center of progress. </p>
      </div>
    </div>
    <div style="padding-bottom: 3%;" class ="container">
      <div class="col-md-2 about-image">
        <%= image_tag 'plant' %>
      </div>
      <div class="col-md-offset-2 col-md-8">
        <h4 style="font-size: 1.8em;"> GROWTH-FOCUSED </h4>
        <p style="font-size: 1.3em;">At AWS, we strive to be the very best. Our rigorous academic curriculum is taught with real-world applications in mind. In addition to our core classes, we also invite experienced professionals to give talks about their occupations in order to give students an idea of what life can ultimately become. The Academic Workshop aims to show students how knowledge comes alive when it is applied outside the classroom. </p>
      </div>
    </div>
    <div style="padding-bottom: 3%;" class ="container">
      <div class="col-md-2 about-image">
        <%= image_tag 'target_white' %>
      </div>
      <div class="col-md-offset-2 col-md-8">
        <h4 style="font-size: 1.8em;"> RESULTS-DRIVEN </h4>
        <p style="font-size: 1.3em;">We're committed to ensuring that every student advances. Periodic assessments and focused teachings aid each student in becoming all he or she can be.</p>
      </div>
    </div>
  </div>
</body>