/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .

 *= require_self
 */
 @font-face {
  font-family: 'Gotham';
  src: url('GOTHAM-LIGHT.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
 }

 @font-face {
  font-family: 'Gotham';
  src: url('GOTHAM-BLACK.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;

 }

 .bold
 strong {
  font-weight: 700;
 }

 #bootstrap-overrides {
  font-family: 'Gotham';
 }

 /*standard user nav bar*/

 #custom-nav {
  height: 10%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

 #custom-nav a:visited {
  color: #FFFFFF;
 }

.nav-tab {
  height: 100%;
  width: 16%;
  display: flex;
  flex-direction: column;
}

.nav-tab a {
  padding-top: 5%;
}

#home-nav-tab {
  height: 100%;
  width: 4%;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

#home-nav-tab img{
  max-height: 100%;
  max-width: 100%;
}

#classes-nav-tab {
  background-image: linear-gradient(-17deg, #AAAD00 0%, #A4AD06 12%, #93AD17 28%, #77AC32 47%, #50AB58 67%, #1EAB89 88%, #00AAA6 100%);
}

#results-nav-tab {
  background-image: linear-gradient(-11deg, #EF3FA9 12%, #EE46AB 20%, #EA58B0 33%, #E376B9 47%, #DBA0C5 63%, #D0D2D3 80%);
}

#staff-nav-tab {
  background-image: linear-gradient(-26deg, #FF9D6C 0%, #FE9A66 20%, #FC9355 47%, #F88639 78%, #F47B20 100%);
}

#about-nav-tab {
  background-image: linear-gradient(-12deg, #F9EC31 0%, #F6EA34 27%, #EDE23D 46%, #DED54C 62%, #C8C261 76%, #ADAB7D 90%, #929497 100%);
}

#location-nav-tab {
  background-image: linear-gradient(-30deg, #57C9E8 50%, #96CEDD 75%, #D0D2D3 100%);
}

#login-nav-tab {
  background-image: linear-gradient(-17deg, #F64B7F 4%, #F65C76 9%, #F67F64 21%, #F79C56 33%, #F7B24A 47%, #F7C242 61%, #F7CB3D 77%, #F7CE3C 100%);
}

/*Classes dropdown menu*/

.classes-drpbtn {
  background-image: linear-gradient(-17deg, #AAAD00 0%, #A4AD06 12%, #93AD17 28%, #77AC32 47%, #50AB58 67%, #1EAB89 88%, #00AAA6 100%);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.classes-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-image: linear-gradient(-17deg, #AAAD00 0%, #A4AD06 12%, #93AD17 28%, #77AC32 47%, #50AB58 67%, #1EAB89 88%, #00AAA6 100%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.classes-dropdown:hover .dropdown-content {
  display: block;
}

/*Admin nav bar*/
#admin-nav {
  height: 10%;
  min-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

 #admin-nav a:visited {
  color: #FFFFFF;
 }

 #admin-nav-tab {
  background: linear-gradient(45deg, #0081C6 0%, #BEDEF5 100%);
 }

 /*Admin dropdown menu */
 .admin-drpbtn {
  background: linear-gradient(45deg, #0081C6 0%, #BEDEF5 100%);
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.admin-dropdown {
  position: relative;
  display: inline-block;
}

.admin-dropdown-content {
  display: none;
  position: absolute;
  background: linear-gradient(45deg, #0081C6 0%, #BEDEF5 100%);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 100%;
}

.admin-dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;
}

.admin-dropdown:hover .admin-dropdown-content {
  display: block;
}

/*Class description colors by classification*/

#PSLE h2 {
  color:#0081C6;
}

#PSLE h4 {
  color:#0081C6;
}

#IPO h2 {
  color:#EF3FA9;
}

#IPO h4 {
  color:#EF3FA9;
}

#Alev h2 {
  color:#F47B20;
}

#Alev h4 {
  color:#F47B20;
}

/*Location map */

#location-map {
  display: flex;
  overflow: hidden;
}

#location-map img {
  max-height: 500px;
}

/*Latest news images */

#news-image {
  display: flex;
  overflow: hidden;
}

#news-image img {
  max-height: 170px;
}

/*About page*/

#about-image {
  background-image: url('/assets/about_background.jpg');
  background-size: 100%;
  display: flex;
  overflow: hidden;
  height: 580px;
}


#about-text {
  padding-top: 10%;
  color: #FFFFFF;
  padding-left: 5%;
  padding-right: 5%;
}

/*Home page image and logo */

#index-image {
  background-image: url('/assets/homepage.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  overflow: hidden;
  height: 700px;
  position: relative;
}

#index-text {
  padding-top: 30%;
  color: #FFFFFF;
  width: 100%;
}

#index-logo {
  position: absolute;
  top: 0;
}

#index-logo img {
  padding-top:3%;
  height:40%;
}

#index-nav-bar {
  position: absolute;
  bottom: 0;
}
