/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.nav-tab {
  height: 35px;
}

/*Not currently working*/
.nav-tab a{
  height: 16px; 
  color: #FFFFFF; 
  font-family: Gotham;  
  font-size: 15.13px; 
  font-weight: 300; 
  line-height: 17px;  
  text-align: center;
}

#classes-nav-tab {
  background: linear-gradient(225deg, #BFDFF5 0%, #00AAA6 100%);
}

#results-nav-tab {
  background-color: #5EC08D;
}

#staff-nav-tab {
  background: linear-gradient(225deg, #59C4D2 0%, #BEC0C2 100%);
}

#about-nav-tab {
  background: linear-gradient(90deg, #FFED04 0%, #F47B20 100%);
}

#location-nav-tab {
  background: linear-gradient(45deg, #0081C6 0%, #BEDEF5 100%);
}

#login-nav-tab {
  background: linear-gradient(135deg, #59C8D6 0%, #DEEAED 100%);
}

#PSLE h2 {
  color:#0081C6;
}

#PSLE h4 {
  color:#0081C6;
}

#IPO h2 {
  color:#5EC08D;
}

#IPO h4 {
  color:#5EC08D;
}

#Alev h2 {
  color:#F47B20;
}

#Alev h4 {
  color:#F47B20;
}
