<div class="container">
  <table class="table table-bordered">
    <tr>
      <th> Class Name </th>
      <th> Start Date </th>
      <th> End Date </th>
      <th> Time </th>
      <th> Description </th>
      <th> Instructor </th>
      <th class="text-center"> Edit Class </th>
      <th class="text-center"> Delete Class </th>
    </tr>
    <%= render partial: 'scheduled_class_compact', collection: @scheduled_classes, as: :scheduled_class %>

  </table>
</div>
